<i18n>
{
  "fr": {
    "title": "Plastique à usage unique",
    "type": "Type de plastique",
    "weight": "Poids du matériel",
    "manufacturingArea": "Zone de fabrication",
    "polystyrene": "Polystyrène",
    "polycarbonate": "Polycarbonate",
    "polypropene": "Polypropylène / Polyéthylène",
    "europe": "Europe",
    "asia": "Asie",
    "america": "Amériques",
    "label-1": "Le matériel est stérile",
    "label-2": "Etape de décontamination"
  },
  "en": {
    "title": "Single-use plastic",
    "type": "Plastic type",
    "weight": "Labware weight",
    "manufacturingArea": "Manufacturing area",
    "polystyrene": "Polystyrene",
    "polycarbonate": "Polycarbonate",
    "polypropene": "Polypropene / Polyethylene",
    "europe": "Europe",
    "asia": "Asia",
    "america": "America",
    "label-1": "The labWare is sterilized",
    "label-2": "Decontamination step"
  }
}
</i18n>

<template>
  <div>
    <div class="notification-icon">
      <div class="bicon">
        <b-icon
          pack="icomoon"
          size="is-medium"
          :icon="buffer.type"
        />
      </div>
      <span>{{ $t('title') }}</span>
    </div>
    <b-notification :closable="false">
      <b-field
        :label="$t('weight') +  ' *'"
        :type="{'is-danger': errors.has('weight')}"
        :message="errors.first('weight')"
      >
        <b-input
          expanded
          type="number"
          v-validate="'required|numeric'"
          :placeholder="$t('weight') +  ' *'"
          name="weight"
          @input="$emit('input', buffer)"
          v-model="buffer.weight"
        />
        <p class="control">
          <span class="button is-static">g</span>
        </p>
      </b-field>
      <b-field
        :label="$t('type') +  ' *'"
        :type="{'is-danger': errors.has('type')}"
        :message="errors.first('type')"
      >
        <b-select
          expanded
          v-validate="'required'"
          name="type"
          @input="$emit('input', buffer)"
          v-model="buffer.type"
        >
          <option
            :value="type"
            v-for="(type,index) in TYPES"
            :key="index"
          >
            {{ $t(type) }}
          </option>
        </b-select>
      </b-field>
      <b-field
        :label="$t('manufacturingArea') +  ' *'"
        :type="{'is-danger': errors.has('manufacturingArea')}"
        :message="errors.first('manufacturingArea')"
      >
        <b-select
          expanded
          v-validate="'required'"
          :placeholder="$t('manufacturingArea') +  ' *'"
          name="manufacturingArea"
          @input="$emit('input', buffer)"
          v-model="buffer.manufacturingArea"
        >
          <option
            :value="area"
            v-for="(area,index) in MANUFACTURING_AREA"
            :key="index"
          >
            {{ $t(area) }}
          </option>
        </b-select>
      </b-field>
      <b-field>
        <b-switch
          v-model="buffer.sterilized"
          @input="$emit('input', buffer)"
        >
          {{ $t('label-1') }}
        </b-switch>
      </b-field>
      <b-field>
        <b-switch
          v-model="buffer.decontamination"
          @input="$emit('input', buffer)"
        >
          {{ $t('label-2') }}
        </b-switch>
      </b-field>
    </b-notification>
  </div>
</template>

<script>
import { PlasticLabWare } from '@/models/plastic/LabWare.js'

export default {
  name: 'PlasticForm',
  props: {
    value: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  $_veeValidate: {
    validator: 'new'
  },
  data () {
    return {
      TYPES: PlasticLabWare.TYPES,
      MANUFACTURING_AREA: PlasticLabWare.MANUFACTURING_AREA,
      buffer: PlasticLabWare.createFromObj(this.value)
    }
  },
  watch: {
    value: {
      handler () {
        this.buffer = PlasticLabWare.createFromObj(this.value)
      },
      deep: true
    }
  }
}
</script>
