<i18n>
{
  "fr": {
    "state-1": "Supprimé",
    "state-2": "Valide",
    "state-3": "Extrême",
    "field-2": "Nb jours déplacement",
    "field-3": "Distance moyenne journalière (km)",
    "field-4": "Distance totale annuelle (km)",
    "tooltip-1": "Ne pas utiliser la réponse dans les calculs",
    "tooltip-2": "Utiliser la réponse dans les calculs",
    "no-commute": "Aucun déplacement domicile / travail"
  },
  "en": {
    "state-1": "Deleted",
    "state-2": "Valid",
    "state-3": "Outlier",
    "field-2": "Number of days commuting to work",
    "field-3": "Average daily distance traveled (km)",
    "field-4": "Total annual distance traveled",
    "tooltip-1": "Do not use answer in calculations",
    "tooltip-2": "Use answer in calculations",
    "no-commute": "No commute"
  }
}
</i18n>

<template>
  <model-table
    :data="commutes"
    :noItemLabel="$t('no-commute')"
    :module="module"
    :disabled="submitted || isClonedSurvey"
    :singleUpdateDisabled="true"
    :bulkOpsDisabled="true"
    :withTags="authStore.isAuthenticated"
    @update="$emit('update')"
    @edit="item => $emit('edit', item)"
    @del="items => $emit('del', items)"
  >
    <template slot="validity" slot-scope="props">
      <b-tag rounded v-if="props.props.row.cdeleted">{{ $t('state-1') }}</b-tag>
      <b-tag rounded v-else-if="props.props.row.isValid" type="is-success">{{ $t('state-2') }}</b-tag>
      <b-tag rounded v-else type="is-danger">{{ $t('state-3') }}</b-tag>
    </template>
    <b-table-column
      field="seqID"
      sortable
      :label="$t('id')"
      centered
      numeric
      v-slot="props"
      :td-attrs="maskedOnTest"
    >
      <del v-if="props.row.cdeleted">{{ props.row.seqID }}</del>
      <span data-testId="maskedOnTest" v-else>{{ props.row.seqID }}</span>
    </b-table-column>
    <b-table-column
      field="position"
      sortable
      :label="$t('position')"
      centered
      numeric
      v-slot="props"
    >
      <del v-if="props.row.cdeleted">{{ $t(props.row.position + '.short') }}</del>
      <span v-else>{{ $t(props.row.position + '.short') }}</span>
    </b-table-column>
    <b-table-column
      field="nWorkingDay"
      sortable
      :label="$t('field-2')"
      numeric
      v-slot="props"
    >
      <del v-if="props.row.cdeleted">{{ props.row.nWorkingDay }}</del>
      <span v-else>{{ props.row.nWorkingDay }}</span>
    </b-table-column>
    <b-table-column
      field="dailyDistance"
      sortable
      :custom-sort="sortByDailyDistance"
      :label="$t('field-3')"
      numeric
      v-slot="props"
    >
      <del v-if="props.row.cdeleted">{{ props.row.averageWeekDistance | splitNumber }}</del>
      <span v-else>{{ props.row.averageWeekDistance | splitNumber }}</span>
    </b-table-column>
    <b-table-column
      field="distanceTotale"
      sortable
      :custom-sort="sortByDistanceTotale"
      :label="$t('field-4')"
      numeric
      v-slot="props"
    >
      <del v-if="props.row.cdeleted">{{ props.row.getAnnualDistance(options, GHGIYear) | splitNumber }}</del>
      <span v-else>{{ props.row.getAnnualDistance(options, GHGIYear) | splitNumber }}</span>
    </b-table-column>
    <template slot="delete" slot-scope="props">
      <b-tooltip
        :label="delLabel(props.props.row)"
        type="is-black"
      >
        <b-button
          :disabled="submitted || isClonedSurvey"
          size="is-small"
          :icon-right="delIcon(props.props.row)"
          @click="delFunction(props.props.row)"
          data-testId="maskedOnTest"
        />
      </b-tooltip>
    </template>
 </model-table>
</template>

<script>
import { useAuthenticationStore } from '@/stores/authentication.js'
import Modules from '@/models/Modules.js'
import { useCoreStore } from '@/stores/core.js'
import { useGHGIStore } from '@/stores/ghgi.js'

export default {
  name: 'Table',
  props: {
    isEditable: {
      type: Boolean,
      default: false
    }
  },
  emits: ['update', 'del', 'view'],
  setup () {
    const authStore = useAuthenticationStore()
    const coreStore = useCoreStore()
    const ghgiStore = useGHGIStore()
    return { authStore, coreStore, ghgiStore }
  },
  components: {
    'model-table': () => import('@/components/carbon/forms/ModelTable.vue')
  },
  computed: {
    GHGIYear: function () {
      return this.ghgiStore.item.year
    },
    commutes: function () {
      return this.ghgiStore.items(Modules.COMMUTES)
    },
    options: function () {
      return this.coreStore.options
    },
    module: function () {
      return Modules.COMMUTES
    },
    submitted: function () {
      return this.ghgiStore.item.submitted.commutes
    },
    isClonedSurvey: function () {
      return this.ghgiStore.isClonedSurvey
    }
  },
  methods: {
    maskedOnTest (row, columns) {
      return { 'data-testid': 'maskedOnTest' }
    },
    sortByDailyDistance (a, b, isAsc) {
      let da = a.averageWeekDistance
      let db = b.averageWeekDistance
      if (da < db) {
        return isAsc ? -1 : 1
      }
      if (da > db) {
        return isAsc ? 1 : -1
      }
      return 0
    },
    sortByDistanceTotale (a, b, isAsc) {
      let da = a.getAnnualDistance(this.options, this.GHGIYear)
      let db = b.getAnnualDistance(this.options, this.GHGIYear)
      if (da < db) {
        return isAsc ? -1 : 1
      }
      if (da > db) {
        return isAsc ? 1 : -1
      }
      return 0
    },
    display: function (commute) {
      this.$emit('view', commute)
    },
    delIcon: function (item) {
      let icon = 'trash'
      if (!this.isEditable && item.cdeleted) {
        icon = 'undo'
      }
      return icon
    },
    delLabel: function (item) {
      let label = this.$t('delete')
      if (!this.isEditable && !item.cdeleted) {
        label = this.$t('tooltip-1')
      } else if (!this.isEditable && item.cdeleted) {
        label = this.$t('tooltip-2')
      }
      return label
    },
    delFunction: function (item) {
      this.$emit('del', [item])
    }
  }
}
</script>
