<i18n>
  {
    "fr": {
      "label-1": "Nom",
      "label-2": "Site principal",
      "label-3": "Taille de l'agglomération",
      "label-4": "Si la ville du site principal fait partie d’une agglomération urbaine, déclarez celle-ci et non celle de la ville d’implantation.",
      "label-5": "moins de 100 000 habitants",
      "label-6": "entre 100 000 et 250 000 habitants",
      "label-7": "plus de 250 000 habitants",
      "error-1": "Cette position est trop éloignée du site principal définie.",
      "error-2": "Veuillez affiner la position du site principal en positionnant le marqueur sur la carte.",
      "save-msg": "Les informations ont été sauvegardées avec <strong><span style='color:green;'>succès</span></strong>."
    },
    "en": {
      "label-1": "Name",
      "label-2": "Main site (city)",
      "label-3": "Size of the agglomeration",
      "label-4": "When the city wof the main site is part of an urban agglomeration, declare it and not the city of establishment.",
      "label-5": "less than 100,000 inhabitants",
      "label-6": "between 100,000 and 250,000 inhabitants",
      "label-7": "more than 250,000 inhabitants",
      "error-1": "This position is too far from the defined main site.",
      "error-2": "Please refine the location by positioning the marker on the map.",
      "save-msg": "Your data have been <strong><span style='color:green;'>successfully</span></strong>saved."
    }
  }
</i18n>

<template>
  <div class="columns">
    <div class="column">
      <b-notification :closable="false">
        <b-field
          :label="$t('label-1') + ' *'"
          :type="{ 'is-danger': errors.has('name') }"
          :message="errors.first('name')"
        >
          <b-input
            name="name"
            icon="id-badge"
            @input="$emit('input', buffer)"
            :placeholder="$t('label-1') + '*'"
            v-model="buffer.name"
            v-validate="'required'"
            maxlength="50"
          />
        </b-field>
        <geonames-input
          :label="$t('label-2')"
          :value="buffer.mainSite"
          :countryCode="buffer.country"
          @select="updateMarker"
          :allowedCountries="geonamesAllowedCountries"
        />
        <b-field
          :type="{ 'is-danger': errors.has('citySize') }"
          :message="errors.first('citySize')"
        >
          <template slot="label">
            {{ $t('label-3') }} *
            <b-tooltip multilined :label="$t('label-4')" type="is-black">
              <b-icon icon="info-circle" />
            </b-tooltip>
          </template>
          <b-select
            name="citySize"
            v-model="buffer.citySize"
            v-validate="'required'"
            :placeholder="$t('label-3') + '*'"
            @input="$emit('input', buffer)"
            expanded
          >
            <option value="0">{{ $t('label-5') }}</option>
            <option value="1">{{ $t('label-6') }}</option>
            <option value="2">{{ $t('label-7') }}</option>
          </b-select>
        </b-field>
      </b-notification>
    </div>
    <div class="column">
      <l-map
        @click="changeMarker"
        ref="labLeaflet"
        :zoom="zoom"
        :center="center"
        style="z-index: 0"
        :style="[
          errorMarker
            ? { border: '1px solid #ff3880' }
            : { border: '1px solid #4280b0' }
        ]"
      >
        <l-tilelayer
          url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
        ></l-tilelayer>
        <l-marker
          :draggable="true"
          @drag="changeMarker"
          :lat-lng="currentMarker"
        >
        </l-marker>
      </l-map>
      <div
        v-if="errorAreaMarker"
        style="margin-top: 8px; color: #ff3860; font-size: 0.75rem"
      >
        {{ $t('error-1') }}
      </div>
      <div
        v-else-if="errorMarker"
        style="margin-top: 8px; color: #ff3860; font-size: 0.75rem"
      >
        {{ $t('error-2') }}
      </div>
    </div>
  </div>
</template>

<script>
import '@/plugins/leaflet.js'
import { useCoreStore } from '@/stores/core.js'
import { Entity } from '@/models/core'

const VALID_MARKER_AREA = 0.08

export default {
  name: 'EntityForm',
  inject: ['$validator'],
  components: {
    'l-map': () => import('vue2-leaflet').then(({ LMap }) => LMap),
    'l-tilelayer': () =>
      import('vue2-leaflet').then(({ LTileLayer }) => LTileLayer),
    'l-marker': () => import('vue2-leaflet').then(({ LMarker }) => LMarker),
    'geonames-input': () => import('@/components/GeonamesInput.vue')
  },
  props: {
    value: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      zoom: 5,
      errorAreaMarker: false,
      errorMarker: false,
      siteLatitude: Entity.DEFAULT_LATITUDE,
      siteLongitude: Entity.DEFAULT_LONGITUDE,
      buffer: Object.assign({}, this.value)
    }
  },
  setup () {
    const coreStore = useCoreStore()
    return { coreStore }
  },
  computed: {
    geonamesAllowedCountries: function () {
      return this.coreStore.setting('global', 'ALLOWED_COUNTRIES').value
    },
    currentMarker: function () {
      return [this.buffer.latitude, this.buffer.longitude]
    },
    center: function () {
      return [this.buffer.latitude, this.buffer.longitude]
    }
  },
  methods: {
    changeMarker (event) {
      if (
        this.siteLatitude !== Entity.DEFAULT_LATITUDE &&
        this.siteLongitude !== Entity.DEFAULT_LONGITUDE
      ) {
        if (
          event.latlng['lat'] <
            parseFloat(this.siteLatitude) + parseFloat(VALID_MARKER_AREA) &&
          event.latlng['lat'] >
            parseFloat(this.siteLatitude) - parseFloat(VALID_MARKER_AREA)
        ) {
          if (
            event.latlng['lng'] <
              parseFloat(this.siteLongitude) + parseFloat(VALID_MARKER_AREA) &&
            event.latlng['lng'] >
              parseFloat(this.siteLongitude) - parseFloat(VALID_MARKER_AREA)
          ) {
            this.buffer.latitude = event.latlng['lat']
            this.buffer.longitude = event.latlng['lng']
            this.$emit('input', this.buffer)
            this.errorMarker = false
            this.errorAreaMarker = false
          } else {
            this.errorMarker = true
            this.errorAreaMarker = true
          }
        } else {
          this.errorMarker = true
          this.errorAreaMarker = true
        }
      }
    },
    updateMarker (option) {
      if (option) {
        this.buffer.latitude = parseFloat(option.lat)
        this.buffer.longitude = parseFloat(option.lng)
        this.siteLatitude = parseFloat(option.lat)
        this.siteLongitude = parseFloat(option.lng)
        this.buffer.country = option.countryCode
        this.buffer.area = option.adminCode1
        this.buffer.mainSite = option.name
        this.$emit('input', this.buffer)
      }
    }
  },
  watch: {
    value: {
      handler () {
        this.buffer = Object.assign({}, this.value)
      },
      deep: true
    }
  },
  mounted () {
    this.siteLatitude = this.buffer.latitude + 0.000000001
    this.siteLongitude = this.buffer.longitude + 0.000000001
  }
}
</script>
