<i18n>
{
  "fr": {
    "info-1": "GES 1point5 reconnaît un type de fichier pour les achats (fichiers exemples : ",
    "info-3": "format tsv",
    "info-3a": "ou",
    "info-3b": "format csv",
    "info-4": "Ce fichier doit contenir un item par ligne, avec les colonnes suivantes :",
    "info-5": "<strong>« Code NACRES »</strong> : identifiant suivant la <em>Nomenclature Achats Recherche Enseignement Supérieur</em> (<a target='_blank' class='link' href='https://www.amue.fr/presentation/presentation-amue/centrale-dachats/'>NACRES</a>). Formats NA.01 et NA01 acceptés.",
    "info-6": "<strong>« Montant »</strong> : le montant hors taxe de la dépense pour le code NACRES. Format numérique avec '.' pour séparer les décimales et sans espace : 1234.56.",
    "info-7": "<strong>« Labels » (optionnel)</strong> : liste des labels associés à l'achat. Les labels doivent avoir été prédéfinis au préalable dans <em>GES 1point5</em>."
  },
  "en": {
    "info-1": "GES 1point5 recognizes one type of files for purchases (sample files: ",
    "info-3": "tsv format",
    "info-3a": "or",
    "info-3b": "csv format",
    "info-4": "This file must contain one item per row, with the following columns:",
    "info-5": "<strong>« NACRES code »</strong>: identifier according to the <em>Nomenclature Achats Recherche Enseignement Supérieur</em> (<a target='_blank' class='link' href='https://www.amue.fr/presentation/presentation-amue/centrale-dachats/'>NACRES</a>). Both formats NA.01 and NA01 are accepted.",
    "info-6": "<strong>« Amount »</strong>: the amount excluding VAT of the expense for the NACRES code. Numerical format with '.' to separate decimals and without space: 1234.56.",
    "info-7": "<strong>« Tags » (optional)</strong> : list of tags associated with the purchase. Tags must have been predefined in <em>GES 1point5</em>."
  }
}
</i18n>

<template>
  <b-notification :has-icon="true" icon="file" :closable="false">
    {{ $t('info-1') }}
    <a class="link" href="/static/carbon/purchasesTemplate.tsv" download>{{ $t('info-3') }}</a>
    {{ $t('info-3a') }}
    <a class="link" href="/static/carbon/purchasesTemplate.csv" download>{{ $t('info-3b') }}</a>).
    {{ $t('info-4') }}
    <br /><br />
    <ul style="list-style-type:square;margin-left:25px">
      <li v-html="$t('info-5')"></li>
      <li v-html="$t('info-6')"></li>
      <li v-html="$t('info-7')"></li>
    </ul>
  </b-notification>
</template>

<script>

export default {
  name: 'HelpFileFormat'
}
</script>
