<i18n>
{
  "fr": {
    "info-1": "Les données peuvent être ajoutées manuellement à l'aide du bouton ",
    "info-2": " ou ",
    "info-3": " à l'aide d'un fichier encodé en UTF-8 dans le",
    "info-4": "format requis ",
    "info-5": "par <em>GES 1point5</em>.",
    "info-11": "Vous trouverez",
    "info-12": "ici",
    "info-13": "une explication pour extraire ces données.",
    "title-1": "Format du fichier",
    "title-2": "Extraction des données par l'utilisateur",
    "uploaded": "téléversées"
  },
  "en": {
    "info-1": "Data can be added manually using the ",
    "info-2": " button or ",
    "info-3": " using a UTF-8 encoded file in the",
    "info-4": "required format ",
    "info-5": "by <em>GES 1point5</em>.",
    "info-11": "An explanation of how to extract these data can be found ",
    "info-12": "here",
    "info-13": ".",
    "title-1": "File format",
    "title-2": "Data extraction by the user",
    "uploaded": "uploaded"
  }
}
</i18n>

<template>
  <b-notification :has-icon="true" icon="database" :closable="false">
    <span v-html="$t('info-1')" />
    <b-icon icon="plus" size="is-small" /> {{ $t('add').toLowerCase() }}
    <span v-html="$t('info-2')" />
    <b-icon icon="upload" size="is-small" /> {{ $t('uploaded') }}
    <span v-html="$t('info-3')" />
    <a class="link" @click="displayFormat = true"> {{ $t('info-4') }}</a>
    <span v-html="$t('info-5')" />
    <br v-if="hasExtraction" />
    <span v-if="hasExtraction">
      {{ $t('info-11') }} <a class="link" @click="displayExtraction = true">{{ $t('info-12') }}</a> {{ $t('info-13') }}
    </span>

    <b-modal
      :active.sync="displayFormat"
      has-modal-card
    >
      <div class="modal-card" style="width: 900px; height: auto">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('title-1') }}
          </p>
        </header>
        <section class="modal-card-body">
          <component :is="formatImportName" />
        </section>
      </div>
    </b-modal>

    <b-modal
      :active.sync="displayExtraction"
      has-modal-card
      :width="900"
    >
      <div class="modal-card" style="width: 900px;">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('title-2') }}
          </p>
        </header>
        <section class="modal-card-body">
          <component :is="extractionImportName" />
        </section>
      </div>
    </b-modal>
  </b-notification>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'HelpFileFormat',
  props: {
    module: {
      type: String,
      required: true
    },
    hasExtraction: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      error: null,
      displayFormat: false,
      displayExtraction: false
    }
  },
  computed: {
    formatImportName: function () {
      return this.module + 'HelpFileFormat'
    },
    extractionImportName: function () {
      return this.module + 'HelpFileExtraction'
    }
  },
  beforeMount () {
    Vue.component(
      this.formatImportName,
      // A dynamic import returns a Promise.
      () => import('@/components/carbon/forms/' + this.module + '/HelpFileFormat.vue')
    )
    if (this.hasExtraction) {
      Vue.component(
        this.extractionImportName,
        // A dynamic import returns a Promise.
        () => import('@/components/carbon/forms/' + this.module + '/HelpFileExtraction.vue')
      )
    }
  }
}
</script>
