<i18n>
{
  "fr": {
    "labos-1point5-description": "<em>Apps 1point5</em> est développé par <em>Labos 1point5</em>, un collectif de membres du monde académique, de toutes disciplines et sur tout le territoire, partageant un objectif commun : mieux comprendre et <strong>réduire l'impact des activités humaines sur l'environnement</strong>, en particulier sur <strong>le climat</strong>.",
    "carbon-title": "Mesurer",
    "carbon-description": " permet d'<strong>estimer une empreinte carbone</strong> et de construire le bilan gaz à effet de serre (BGES) réglementaire. Ceci afin de nourrir la réflexion sur les leviers d'actions permettant de réduire les émissions de gaz à effet de serre.",
    "carbon-why": "Pourquoi utiliser GES 1point5 ?",
    "scenario-title": "Imaginer",
    "scenario-description": " permet de simuler des scénarios de réduction de l’empreinte carbone afin d'<strong>imaginer</strong> des futures possibles et de nourrir la réflexion sur les leviers d'actions permettant de <strong>réduire l'impact</strong> sur le climat et l'environnement.",
    "scenario-why": "Pourquoi utiliser Scénario 1point5 ?",
    "transition-title": "Partager",
    "transition-description": " permet aux {structures} de décrire les actions qu'ils mènent pour la <strong>réduction durable de leur empreinte environnementale</strong>. <br />Il permet aussi aux observateurs d'explorer ces actions pour s'en inspirer.",
    "transition-why": "Pourquoi utiliser Transition 1point5 ?",
    "nghgi": "#bilans GES",
    "nscenario": "#scénarios",
    "nentities": "#{structures}",
    "nActions": "#actions publiées",
    "nEntities": "#{structures}"
  },
  "en": {
    "labos-1point5-description": "<em>Apps 1point5</em> is developped by <em>Labos 1point5</em>, an international, cross-disciplinary collective of academic researchers who share a common goal: to better understand and <strong>reduce the environmental impact of human</strong>, especially on the Earth’s <strong>climate</strong>.",
    "carbon-title": "Measure",
    "carbon-description": " can be used to <strong>estimate a carbon footprint</strong> and building the greenhouse gas (GHG) inventory of your structure. This in order to bring food for thought on the levers for action to reduce GHG emissions.",
    "carbon-why": "Why use GES 1point5 ?",
    "scenario-title": "Imagine",
    "scenario-description": " can be used to simulate scenarios for reducing the carbon footprint and <strong>to imagine</strong> possible futures and to provide food for thought on the levers of action to <strong>reduce impact</strong> on the climate and the environment.",
    "scenario-why": "Why use Scenario 1point5 ?",
    "transition-title": "Share",
    "transition-description": " enables {structures} to describe the actions they are taking to <strong>sustainably reduce their environmental footprint</strong>. <br />It also enables observers to explore these actions for inspiration.",
    "transition-why": "Why use Transition 1point5 ?",
    "nghgi": "#GHG inventories",
    "nscenario": "#scenarios",
    "nentities": "#{structures}",
    "nActions": "#published actions",
    "nEntities": "#{structures}"
  }
}
</i18n>

<template>
  <div class="home">
    <section class="section is-small" style="padding-bottom:0">
      <div class="container">
        <div class="content-wrapper" style="margin-top:-260px">
          <div class="columns">
            <div
              v-for="(activeApp, index) in activeApps"
              :key="index"
              class="column is-4"
              :class="getOffset(index)"
            >
              <div
                class="boxicon is-bordered has-text-centered boxicon-home"
                data-animation="fadeInLeft"
              >
                <div class="bicon">
                  <router-link
                    class="link"
                    :to="{ name: activeApp.name }"
                  >
                    <b-icon :icon="activeApp.icon"></b-icon>
                  </router-link>
                </div>
                <h4>{{ $t(activeApp.name + '-title') }}</h4>
                <p class="has-text-centered" style="margin-bottom:10px">
                  <a
                    class="link"
                    @click="displayModal(activeApp.name)"
                  >
                    <strong>{{ $t(activeApp.name) }}</strong>
                  </a>
                  <span v-html="$t(activeApp.name + '-description')"> </span>
                  <nav class="level" style="margin-top:20px">
                    <div
                      v-for="(keyNumber, index) in Object.keys(keyNumbers[activeApp.name])"
                      :key="index"
                      class="level-item has-text-centered"
                    >
                      <div>
                        <p class="heading">{{ $t(keyNumber) }}</p>
                        <p class="title">
                          <template v-if="!isLoading">{{ keyNumbers[activeApp.name][keyNumber] }}</template>
                          <b-skeleton height="26px" width="50px" :active="isLoading"/>
                        </p>
                      </div>
                    </div>
                  </nav>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <b-modal
      :active.sync="display"
      has-modal-card
      :width="1000"
    >
      <div class="modal-card" style="width: 1000px;">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t(activeApp + '-why') }}
          </p>
        </header>
        <section class="modal-card-body">
          <component
            :is="activeApp + '-why'"
          />
        </section>
      </div>
    </b-modal>
  </div>
</template>

<script>
import Vue from 'vue'
import carbonService from '@/services/carbonService'
import { useCoreStore } from '@/stores/core.js'

export default {
  name: 'home',
  setup () {
    const coreStore = useCoreStore()
    return { coreStore }
  },
  data () {
    return {
      display: false,
      activeApp: null,
      keyNumbers: {
        'carbon': {},
        'scenario': {},
        'transition': {}
      },
      isLoading: false,
      nEntity: 0,
      nGHGI: 0,
      nScenario: 0,
      transition: {
        nActions: 0,
        nEntities: 0
      }
    }
  },
  computed: {
    activeApps: function () {
      return this.coreStore.activeApps
    }
  },
  methods: {
    getOffset: function (index) {
      let offset = 'is-offset-' + (12 - 4 * this.activeApps.length) / 2
      if (index === 0) {
        return { [offset]: true }
      } else {
        return {}
      }
    },
    displayModal: function (app) {
      this.display = true
      this.activeApp = app
    }
  },
  mounted () {
    this.isLoading = true
    this.activeApp = this.activeApps[0].name
    carbonService.getCounts()
      .then(data => {
        this.isLoading = false
        Vue.set(this.keyNumbers, 'carbon', {
          nghgi: data.nGHGI,
          nentities: data.nEntity
        })
        Vue.set(this.keyNumbers, 'scenario', {
          nscenario: data.nScenario
        })
        Vue.set(this.keyNumbers, 'transition', data.transition)
      })
      .catch((erreur) => {
        this.isLoading = false
      })
  },
  beforeMount () {
    for (let app of this.activeApps) {
      Vue.component(
        app.name + '-why',
        // A dynamic import returns a Promise.
        () => import('@/components/' + app.name + '/docs/Why.vue')
      )
    }
  }
}
</script>

<style>
.tabs.is-toggle li.is-active a {
  background-color:  rgba(83, 135, 175, 0.1);
  border-color: rgb(66, 128, 176);
}
.b-skeleton-item {
  margin: auto
}
</style>
