<i18n>
{
  "fr": {
    "title": "Les données",
    "data-1": "La nature des données qui sont utilisées dépend du statut de connexion. Connexion anonyme ou authentifiée :",
    "data-2": "<strong>Utilisateur anonyme : </strong> Si vous êtes utilisateur anonyme, vous pourrez découvrir et utiliser de nombreuses fonctionnalités de l’outil de scénarisation. Le jeu de données qui est utilisé correspond à celui d’une structure virtuelle.",
    "data-3": "<strong>Utilisateur authentifié : </strong> Si vous êtes utilisateur authentifié, vous pourrez utiliser vos propres BGES avec l’outil de scénarisation. Il n’est pas nécessaire d’avoir un bilan complet pour utiliser l’outil. Toutefois, seules les mesures pour lesquelles des données sont disponibles sont utilisables  (par ex., si vous n’avez pas de véhicule de service : l’électrification des véhicules de service ne sera pas proposée)."
  },
  "en": {
    "title": "Datasets",
    "data-1": "The nature of the data used depends on the connection status. Anonymous or authenticated connection:",
    "data-2": "<strong>Anonymous user:</strong> If you are an anonymous user, you can discover and use many features of the scenario tool. The dataset used corresponds to that of a virtual structure.",
    "data-3": "<strong>Authenticated user:</strong> If you are an authenticated user, you can use your own GHG inventory with the scenario tool. It is not necessary to have a complete inventory to use the tool. However, only measures for which data is available can be used (for example, if you do not have a service vehicle: the electrification of service vehicles will not be proposed)."
  }
}
</i18n>

<template>
  <div>
    <my-notification :icon="'table'">
      <template #title>
        {{ $t('title') }}
      </template>
      <p>
        {{ $t('data-1') }}
        <br /><br />
        <ul style="list-style-type:square;margin-left:25px">
          <li><span v-html="$t('data-2')" /></li>
          <li><span v-html="$t('data-3')" /></li>
        </ul>
      </p>
    </my-notification>
  </div>
</template>

<script>
export default {
  name: 'ScenarioData',
  components: {
    'my-notification': () => import('@/components/MyNotification.vue')
  }
}
</script>
