<i18n>
{
  "fr": {
    "message-1": "Les résultats de ce BGES ne sont pas encore consolidés car les facteurs d'émissions de l'année 2023 n'ont pas encore été mis à jour. Ceux-ci seront mis à jour prochainement lorsque la <a target='_blank' class='link' href='https://base-empreinte.ademe.fr'>Base Empreinte</a> de l'ADEME sera elle-même mise à jour."
  },
  "en": {
    "message-1": "The results of this GHI are not yet consolidated, as the emissions factors for 2023 have not yet been updated. These will be updated shortly when ADEME's <a target='_blank' class='link' href='https://base-empreinte.ademe.fr'>Base Empreinte</a> is itself updated."
  }
}
</i18n>

<template>
  <b-notification
    :closable="false"
    has-icon
    type="is-danger is-light"
  >
    <span v-html="$t('message-1')" />
  </b-notification>
</template>

<script>
export default {
  name: 'EFUpdateWarning'
}
</script>

<style>
.notification.is-danger.is-light {
  background-color: #feecf0 !important;
  color: #cc0f35 !important;
}
</style>
