<i18n>
{
  "fr": {
    "title-1": "Ajouter une catégorie de labels",
    "title-2": "Modifier une catégorie de labels",
    "label-1": "Nom et couleur de la catégorie",
    "label-2": "Description (optionel)",
    "label-3": "Liste des labels",
    "error-1": "Nom de catégorie déjà utilisé.",
    "error-2": "Nom de label déjà utilisé dans cette catégorie.",
    "error-3": "Nom de label déjà utilisé dans une autre catégorie.",
    "error-4": "Couleur de catégorie déjà utilisée.",
    "info-1": "Un ou plusieurs labels ont été supprimé(s). <br/> Les <strong>liens</strong> existant <strong>entre vos données et ce(s) label(s) seront également supprimés</strong>. <br/> Êtes vous sûr de vouloir continuer ?",
    "cobalt": "Cobalt",
    "gentian": "Gentiane",
    "slate": "Ardoise",
    "violet": "Violet",
    "ocean": "Océan",
    "pacific": "Pacifique",
    "plum": "Prune",
    "pink": "Rose",
    "strawberry": "Fraise",
    "cherry": "Cerise",
    "copper": "Cuivre",
    "carrot": "Carotte",
    "fern": "Fougère",
    "reef": "Récif",
    "forest": "Forêt",
    "pine": "Pin",
    "olive": "Olive",
    "pickle": "Cornichon",
    "sahara": "Sahara",
    "earth": "Terre"
  },
  "en": {
    "title-1": "Add a tags category",
    "title-2": "Update a tags category",
    "label-1": "Name and color of the category",
    "label-2": "Description (optional)",
    "label-3": "Tags list",
    "error-1": "Category name already used.",
    "error-2": "Tag name already used in this category.",
    "error-3": "Tag name already used in another category.",
    "error-4": "Category color already used.",
    "info-1": "One or more Tags have been deleted. <br/> Existing <strong>links</strong> <strong>between your data and this Tag(s) will also be removed</strong>. <br/> Are you sure you want to continue?",
    "cobalt": "Cobalt",
    "gentian": "Gentian",
    "slate": "Slate",
    "violet": "Violet",
    "ocean": "Ocean",
    "pacific": "Pacific",
    "plum": "Plum",
    "pink": "Pink",
    "strawberry": "Strawberry",
    "cherry": "Cherry",
    "copper": "Copper",
    "carrot": "Carrot",
    "fern": "Fern",
    "reef": "Reef",
    "forest": "Forest",
    "pine": "Pine",
    "olive": "Olive",
    "pickle": "Pickle",
    "sahara": "Sahara",
    "earth": "Earth"
  }
}
</i18n>

<template>
  <b-modal
    :active="active"
    @close="close"
    has-modal-card
    :can-cancel="['escape', 'x', 'outside']"
    :width="1000"
  >
    <div class="modal-card" style="width: 1000px;">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ modalTitle }}</p>
      </header>
      <section class="modal-card-body">
        <form @submit.prevent="validateBeforeSubmit">
          <b-notification :closable="false">
            <b-field
              :label="$t('label-1')"
              :type="{'is-danger': errors.has('name')}"
              :message="errors.first('name')"
            >
              <b-input
                name="name"
                expanded
                v-model="ctagCategory.name"
                v-validate="'required|uniqueCategoryName'"
              />
              <p class="control">
                <b-colorpicker
                  v-model="ctagCategory.color"
                  @input="updateColor"
                  append-to-body
                />
              </p>
            </b-field>
            <div class="suggest-colors">
              <b-tooltip
                v-for="(color, index) in suggestColors"
                :key="index"
                :label="$t(color.name)"
                type="is-dark"
                append-to-body
              >
                <a
                  :style="{ 'background-color': color.color }"
                  :data-color="color"
                  @click="presetColor(color.color)"
                >
                  <span
                    v-if="color.color === ctagCategory.color"
                    class="icon is-small"
                    style="color: rgb(255, 255, 255);position: absolute;top: 7px;left: 7px;"
                  >
                    <i class="fa fa-check" />
                  </span>
                </a>
              </b-tooltip>
              <b-field
                style="position: relative; top: -18px;"
                :type="{'is-danger': true}"
                :message="colorError"
              />
            </div>
          </b-notification>
          <b-notification :closable="false">
            <b-field
              :label="$t('label-2')"
            >
              <b-input
                type="textarea"
                expanded
                :placeholder="$t('label-2')"
                v-model="ctagCategory.description"
              />
            </b-field>
          </b-notification>
          <b-notification :closable="false">
            <b-field
              :label="$t('label-3')"
              :type="{'is-danger': tagsError}"
            >
              <b-input
                name="tags"
                icon="caret-right"
                expanded
                @input="checkTagsList(true)"
                v-model="newTagName"
              />
              <p class="control">
                <b-button
                  :type="{'is-danger': tagsError}"
                  @click="addTag"
                  data-testId="add-tag"
                  class="button"
                  icon-left="plus"
                >
                  {{ $t('add') }}
                </b-button>
              </p>
            </b-field>
            <b-taglist>
              <my-tag
                v-for="(tag, index) in ctagCategory.tags"
                :key="index"
                :tag="tag"
                :color="ctagCategory.color"
                :closable="true"
                :editable="true"
                @close="removeTag(tag)"
                @update="checkTagsList"
              />
            </b-taglist>
            <b-field
              style="position: relative; top: -18px;"
              :type="{'is-danger': tagsError}"
              :message="tagsError"
            />
          </b-notification>
          <hr />
          <nav class="level">
            <div class="level-left"></div>
            <div class="buttons level-right">
              <b-button
                class="button"
                @click="$emit('close')"
                icon-left="close"
              >
                {{ $t('cancel') }}
              </b-button>
              <button
                v-if="modeCreation"
                type="submit"
                data-testId="submit-tags"
                class="button is-primary"
              >
                <b-icon icon="plus" />
                <span> {{ $t('add') }} </span>
              </button>
              <button
                v-else
                type="submit"
                class="button is-primary"
              >
                <span class="icon is-small"><i class="fa fa-refresh"></i></span>
                <span> {{ $t('update') }} </span>
              </button>
            </div>
          </nav>
        </form>
      </section>
    </div>
  </b-modal>
</template>

<script>
import { useAdminStore } from '@/stores/admin.js'
import TagCategory from '@/models/core/TagCategory.js'

export default {
  name: 'TagCategoryModal',
  $_veeValidate: {
    validator: 'new'
  },
  props: {
    tagCategory: {
      type: Object,
      default: function () {
        return new TagCategory()
      }
    },
    active: {
      type: Boolean,
      default: false
    },
    modeCreation: {
      type: Boolean,
      default: false
    }
  },
  components: {
    'my-tag': () => import('@/components/core/MyTag.vue')
  },
  setup () {
    const adminStore = useAdminStore()
    return { adminStore }
  },
  data () {
    return {
      newTagName: null,
      tagsError: null,
      tagsRemoved: false,
      ctagCategory: TagCategory.createFromObj(this.tagCategory),
      suggestColors: [
        { name: 'cobalt', color: '#273eb2' },
        { name: 'gentian', color: '#5252cc' },
        { name: 'slate', color: '#415df0' },
        { name: 'violet', color: '#8080ff' },
        { name: 'ocean', color: '#0a77a6' },
        { name: 'pacific', color: '#179fd9' },
        { name: 'plum', color: '#a839a4' },
        { name: 'pink', color: '#db60d6' },
        { name: 'strawberry', color: '#ec3e7c' },
        { name: 'cherry', color: '#ba1e55' },
        { name: 'copper', color: '#c44800' },
        { name: 'carrot', color: '#f78400' },
        { name: 'fern', color: '#3cbb3a' },
        { name: 'reef', color: '#1da583' },
        { name: 'forest', color: '#258723' },
        { name: 'pine', color: '#0f735a' },
        { name: 'olive', color: '#b4a40e' },
        { name: 'pickle', color: '#807304' },
        { name: 'sahara', color: '#936d58' },
        { name: 'earth', color: '#54473f' }
      ]
    }
  },
  computed: {
    modalTitle: function () {
      if (this.modeCreation) {
        return this.$t('title-1')
      } else {
        return this.$t('title-2')
      }
    },
    allTagCategories: function () {
      return this.adminStore.allTagCategories
    },
    colorError: function () {
      let error = ''
      let usedColors = this.allTagCategories.filter(obj => !obj.isEqual(this.ctagCategory)).map(obj => obj.color)
      if (usedColors.includes(this.ctagCategory.color)) {
        error = this.$t('error-4')
      }
      return error
    }
  },
  watch: {
    active: function () {
      if (this.active && !this.tagCategory.color) {
        let usedColors = this.allTagCategories.map(obj => obj.color)
        let availableColors = this.suggestColors.filter(obj => !usedColors.includes(obj.color))
        this.ctagCategory.color = availableColors[0].color
      }
    },
    tagCategory: function () {
      this.ctagCategory = TagCategory.createFromObj(this.tagCategory)
    },
    'ctagCategory.tags': function () {
      this.checkTagsList()
    }
  },
  methods: {
    close () {
      this.newTagName = null
      this.$emit('close')
    },
    updateColor (color) {
      this.ctagCategory.color = color.toString('hex')
    },
    addTag () {
      if (!this.tagsError) {
        this.ctagCategory.addTag(this.newTagName)
        this.newTagName = null
      }
    },
    checkTagsList (checkNewTagName = false) {
      this.tagsError = null
      // check within the current category
      let currentTags = this.ctagCategory.tags.map(obj => obj.name)
      let lengthToCheck = this.ctagCategory.tags.length
      if (checkNewTagName) {
        currentTags.push(this.newTagName)
        lengthToCheck += 1
      }
      if (Array.from(new Set(currentTags)).length === lengthToCheck) {
        // check from other categories
        let allTags = this.adminStore.allTagCategories.map(obj => {
          if (this.ctagCategory.id && this.ctagCategory.id === obj.id) {
            return []
          } else {
            return obj.tags
          }
        }).flat()
        for (let usedTag of allTags) {
          for (let tagname of currentTags) {
            if (usedTag.name === tagname) {
              this.tagsError = this.$t('error-3')
              break
            }
          }
        }
      } else {
        this.tagsError = this.$t('error-2')
      }
    },
    removeTag (tag) {
      this.ctagCategory.removeTag(tag)
      this.tagsRemoved = true
    },
    presetColor (color) {
      this.ctagCategory.color = color
    },
    save () {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      this.adminStore.updateOrCreateTagCategory(this.ctagCategory)
        .then(data => {
          loadingComponent.close()
          this.tagsRemoved = false
          this.$emit('close')
        })
        .catch((error) => {
          loadingComponent.close()
          this.tagsRemoved = false
          this.$emit('close')
          throw error
        })
    },
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result && !this.colorError && !this.tagsError) {
          if (this.tagsRemoved) {
            let self = this
            this.$buefy.dialog.confirm({
              title: self.$t('deletion'),
              message: self.$t('info-1'),
              confirmText: self.$t('validate'),
              cancelText: self.$t('cancel'),
              canCancel: ['escape', 'button', 'outside'],
              onConfirm: function () {
                self.save()
              }
            })
          } else {
            this.save()
          }
        }
      })
    }
  },
  created () {
    let self = this
    this.$validator.extend('uniqueCategoryName', {
      getMessage: field => self.$t('error-1'),
      validate: (value) => {
        return self.allTagCategories.filter(obj => {
          if (self.ctagCategory.id && self.ctagCategory.id === obj.id) {
            return false
          } else {
            return obj.name === value
          }
        }).length === 0
      }
    })
  }
}
</script>

<style scoped>
.suggest-colors a {
  border-radius: 4px;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}
</style>
