<i18n>
{
  "fr": {
    "title-1": "Auteurs",
    "title-2": "Contributeurs",
    "title-3": " Développements informatiques"
  },
  "en": {
    "title-1": "Authors",
    "title-2": "Contributors",
    "title-3": "IT developments"
  }
}
</i18n>

<template>
  <div>
    <my-notification :icon="'joomla'">
      <template #title>
        {{ $t('title-1') }}
      </template>
      <p>
        <ul class="bcteam">
          <li>Max-Henri Chanut : <em>INRAE, Paris</em></li>
          <li>Sophie Schbath : <em>INRAE, Paris</em></li>
          <li>Marianne De Paepe : <em>INRAE, Paris</em></li>
        </ul>
       </p>
    </my-notification>
    <br />
    <my-notification :icon="'cogs'">
      <template #title>
        {{ $t('title-2') }}
      </template>
      <p>
        <ul class="bcteam">
          <li>Cédric Midoux : <em>INRAE, Paris</em></li>
        </ul>
       </p>
    </my-notification>
    <br />
    <my-notification :icon="'keyboard-o'">
      <template #title>
        {{ $t('title-3') }}
      </template>
      <p>
        <ul class="bcteam">
          <li>Jérôme Mariette : <em>INRAE, Toulouse</em></li>
        </ul>
       </p>
    </my-notification>
  </div>
</template>

<script>
export default {
  name: 'Team',
  components: {
    'my-notification': () => import('@/components/MyNotification.vue')
  }
}
</script>

<style lang="css" scoped>
  .bcteam {
    list-style-type:square;
    margin-left:25px
  }
  .bcteam > li {
    padding-top: 5px;
  }
</style>
