<template>
  <div>
    <span v-for="(tags, type) in tagGroups">
      <span v-for="(tag, index) in tags">
        <action-tag
          v-if="index"
          :tag="tag"
          :key="`tag-${index}`"
        >
        </action-tag>
      </span>
    </span>
  </div>
</template>

<script>
import { Tag } from '@/models/transition/transition.js'

export default {
  name: 'ActionTagList',
  props: {
    tags: {
      type: Array,
      required: true
    }
  },
  data: function () {
    return {
      tagGroups: Tag.group(this.tags)
    }
  },
  components: {
    'action-tag': () => import('@/components/transition/ActionTag.vue')
  }
}
</script>
