<i18n>
{
  "fr": {
    "unvalid-title": "Lien de l'enquête non valide",
    "unvalid-1": "Ce lien est non valide.",
    "unvalid-2": "Pour plus d'information veuillez contacter le responsable en charge de cette enquête au sein de votre {structure}."
  },
  "en": {
    "unvalid-title": "Unvalid link to the survey",
    "unvalid-1": "The link to the survey is unvalid.",
    "unvalid-2": "For more information, please contact the person in charge of this survey in your {structure}."
  }
}
</i18n>

<template>
  <b-notification
    :has-icon="true"
    :icon="'unlink'"
    :closable="false"
  >
    <strong>
      {{ $t('unvalid-title') }}
    </strong>
    <br />
    {{ $t('unvalid-1') }}
    <br />
    {{ $t('unvalid-2') }}
  </b-notification>
</template>

<script>
export default {
  name: 'UnvalidLink'
}
</script>
