<i18n>
{
  "fr": {
    "text": "<b>Saisie des données dans l’outil</b><br/> Pour un maximum de précision des résultats, il est recommandé de passer par l'importation directe des données que vous aurez extraites via les formats de fichiers détaillés plus bas. Attention : Le fichier téléversé doit contenir tous les achats effectués pendant l'année considérée, et uniquement ceux-ci !<br /> Pour vous éviter un travail laborieux d'uniformisation des libellés, l'outil n'impose pas un format très strict de ceux-ci mais, au contraire, essaie d'extraire au mieux l'information des données brutes que vous aurez fournies. Si la qualité de l'importation n'est pas satisfaisante, vous pouvez au choix corriger directement dans l'outil les quelques erreurs (cliquez sur l'icone crayon à droite de chacune des lignes pour voir les données brutes correspondantes), ou bien faire les quelques corrections directement dans votre fichier avant de le re-téléverser.<br />A défaut de précision sur les modèles, il est aussi possible de renseigner à gros grain le nombre d'équipements achetés sur la période en choisissant pour chaque type d'équipement le modèle « Défaut ».<br />N'oubliez pas de renseigner les achats d'écrans qui font rarement partie des bases de données d'inventaire.<br /><br /><strong>Liste des types d'équipements à considérer comme 'matériel informatique' : </strong>PC fixe, serveur, laptop, écrans, vidéo-projecteur, tablette, smartphone, imprimante, hub wifi, téléphone IP, disque dur, carte graphique, clavier, souris."
  },
  "en": {
    "text": "<b>Entering data into the tool</b><br/> For the highest accuracy of the results, it is recommended to import directly the data you have extracted via the file format detailes below. Warning: The uploaded file must contain all purchases made during the year considered, and only those ones!<br/> In order to avoid laborious work of standardisation of the labels, the tool does not impose a very strict format of the labels but, on the contrary, tries to extract the information as well as possible from the raw data that you provide. If the quality of the import is not satisfactory, you can either correct the few errors directly in the tool (click on the pencil icon to the right of each line to see the corresponding raw data), or make the few corrections directly in your file before uploading it again.<br />In the absence of information on the models, it is also possible to enter the number of devices purchased over the period by choosing the \"Default\" model for each type of device.<br />Do not forget to enter the number of monitors purchased, which are rarely included in the inventory databases.<br /><br /><strong>List of types of equipment to be considered as 'digital devices' : </strong>Desktop, server, laptop, monitor , video projector, pad, smartphone, printer, wifi hub, IP telephone, hard drive,GPU, keyboard, mouse."
  }
}
</i18n>

<template>
  <div>
    <b-notification :has-icon="true" icon="database" :closable="false">
      <span v-html="$t('text')" />
    </b-notification>
    <help-file-format />
  </div>
</template>

<script>
export default {
  name: 'HelpData',
  components: {
    'help-file-format': () => import('@/components/carbon/forms/devices/HelpFileFormat.vue')
  }
}
</script>
